/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body{
  background-color: rgb(235,235,235);
}
.groceriesContainer{
 
  display: flex;
  
  background-color: skyblue
}

.newGroceries{
  background-color: burlywood;
}

.cart{
  position:absolute;
  animation: cartMovement linear 10s infinite;
  
}

@keyframes cartMovement {
  0%   { left:100%;}
  25%   { left: 71.25%}
  50% {left: 42.5%;}
  75%  {left: 13.75%;}
  100%  {left:-15%;}
}

.fruit{
  position:absolute;
  animation: fruitMovement linear 10s infinite;
  top: 363px;
  animation-delay: -2s;
}

@keyframes fruitMovement {
  0%   { left:100%;}
  25%   { left: 71.25%}
  50% {left: 42.5%;}
  75%  {left: 13.75%;}
  100%  {left:-15%;}
}

  
.gridContainer{
  display: grid;

}